body {
  body {
    font-family: "Montserrat", sans-serif;
  }
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: whitesmoke;
  color: #0d1717;
  height: 100%;
}
#important {
  color: red;
  font-size: 24px;
}

#minuses {
  font-weight: bold;
}

#pluses {
  font-weight: bolder;
  width: 100%;
  height: 200px;
  margin-left: 10px;
}

#myPls > li {
  margin-top: 7px;
}
.blink {
  animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
  0% {
    color: #f80404;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f80404;
  }
}
.blink2 {
  font-size: 24px;
  animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
  0% {
    color: #f80404;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f80404;
  }
}

#bottomWrap {
  text-align: center;
  /* position: absolute;
  bottom: 1%;
  right: 1%; */
}
#botCont {
  display: inline-block;
}
#skils {
  display: none;
}
h1 {
  float: right;
  position: absolute;
  right: 1px;
  margin-top: 15px;
}
